<router-outlet></router-outlet>


<div align='center'>

    <div class="containerPhoto"></div>

    <article>
        <header>
            <h2>Swimming Race Pace Tracker</h2>
            <h3>Keep track of your team's swimming goals. </h3>
        </header>
    </article>

    <button mat-raised-button color="primary" (click)="openDialog()">Add Workout</button>


    <mat-divider style="height: 50px;"></mat-divider>

    <div class="row" style="margin: auto;">

        <label>Download File as CSV &nbsp;</label>
        <button mat-raised-button color="primary" (click)="downloadFile()">
            <mat-icon>cloud_download</mat-icon>
        </button>

        <label> &nbsp; Import CSV File &nbsp;</label>

        <button mat-raised-button color="primary" (click)="fileInput.click()">
            <mat-icon>cloud_upload</mat-icon>
            <input #fileInput type="file" (change)="changeListener($event.target.files)" style="display:none;" />
        </button>
    </div>

    <mat-divider style="height: 50px;"></mat-divider>

    <div class="row">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

                <ng-container matColumnDef="swimmerName">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.swimmerName}} </td>
                </ng-container>

                <ng-container matColumnDef="eventFocus">
                    <th mat-header-cell *matHeaderCellDef>Event</th>
                    <td mat-cell *matCellDef="let element"> {{element.eventFocus}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="eventDistanceType">
                    <th mat-header-cell *matHeaderCellDef> Meet Pool Config. </th>
                    <td mat-cell *matCellDef="let element"> {{element.eventDistanceType}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="personalRecord">
                    <th mat-header-cell *matHeaderCellDef> Personal Record </th>
                    <td mat-cell *matCellDef="let element"> {{element.personalRecord}} </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="primary" (click)="deleteRow(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                        <div class="example-element-detail"
                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <div class="example-element-diagram">

                                <h4>Swimmer Name</h4>

                                <mat-form-field>
                                    <mat-label>Name</mat-label>
                                    <input [(ngModel)]="element.swimmerName" matInput type="text">
                                </mat-form-field>

                                <h4 *ngIf="element.eventFocus == '100 Individual Medley' ||
                                    element.eventFocus == '200 Individual Medley' ||
                                    element.eventFocus == '400 Individual Medley'">Fly Split</h4>

                                <mat-form-field *ngIf="element.eventFocus == '100 Individual Medley' ||
                                    element.eventFocus == '200 Individual Medley' ||
                                    element.eventFocus == '400 Individual Medley'">
                                    <mat-label>Fly split (minutes)</mat-label>
                                    <input [(ngModel)]="element.flySplitMinutes" (keyup)="convertIMTime(element.flySplitMinutes,
                                        element.flySplitSeconds,
                                        element.backSplitMinutes,
                                        element.backSplitSeconds,
                                        element.breastSplitMinutes,
                                        element.breastSplitSeconds,
                                        element.freeSplitMinutes,
                                        element.freeSplitSeconds)" matInput type="number" min="0" max="60"
                                        [formControl]="flyMinuteControl" required>
                                    <mat-error>Values 0-60 are valid.</mat-error>
                                </mat-form-field>

                                <mat-form-field *ngIf="element.eventFocus == '100 Individual Medley' ||
                                    element.eventFocus == '200 Individual Medley' ||
                                    element.eventFocus == '400 Individual Medley'">
                                    <mat-label>Fly split (seconds)</mat-label>
                                    <input [(ngModel)]="element.flySplitSeconds" matInput type="number"
                                        (keyup)="convertIMTimeElement(element)" required min="0" max="60"
                                        [formControl]="flySecondControl">
                                    <mat-error>Values 0-60 are valid.</mat-error>
                                </mat-form-field>

                                <h4 *ngIf="element.eventFocus == '100 Individual Medley' ||
                                    element.eventFocus == '200 Individual Medley' ||
                                    element.eventFocus == '400 Individual Medley'">Back Split</h4>

                                <mat-form-field *ngIf="element.eventFocus == '100 Individual Medley' ||
                                    element.eventFocus == '200 Individual Medley' ||
                                    element.eventFocus == '400 Individual Medley'">
                                    <mat-label>Back split (minutes)</mat-label>
                                    <input [(ngModel)]="element.backSplitMinutes" matInput type="number"
                                        (keyup)="convertIMTimeElement(element)" required min="0" max="60"
                                        [formControl]="backMinuteControl">
                                    <mat-error>Values 0-60 are valid.</mat-error>
                                </mat-form-field>

                                <mat-form-field *ngIf="element.eventFocus == '100 Individual Medley' ||
                                    element.eventFocus == '200 Individual Medley' ||
                                    element.eventFocus == '400 Individual Medley'">
                                    <mat-label>Back split (seconds)</mat-label>
                                    <input [(ngModel)]="element.backSplitSeconds" matInput type="number"
                                        (keyup)="convertIMTimeElement(element)" required min="0" max="60"
                                        [formControl]="backSecondControl">
                                    <mat-error>Values 0-60 are valid.</mat-error>
                                </mat-form-field>

                                <h4 *ngIf="element.eventFocus == '100 Individual Medley' ||
                                    element.eventFocus == '200 Individual Medley' ||
                                    element.eventFocus == '400 Individual Medley'">Breast Split</h4>

                                <mat-form-field *ngIf="element.eventFocus == '100 Individual Medley' ||
                                    element.eventFocus == '200 Individual Medley' ||
                                    element.eventFocus == '400 Individual Medley'">
                                    <mat-label>Breast split (minutes)</mat-label>
                                    <input [(ngModel)]="element.breastSplitMinutes" matInput type="number"
                                        (keyup)="convertIMTimeElement(element)" required min="0" max="60"
                                        [formControl]="breastMinuteControl">
                                    <mat-error>Values 0-60 are valid.</mat-error>
                                </mat-form-field>

                                <mat-form-field *ngIf="element.eventFocus == '100 Individual Medley' ||
                                    element.eventFocus == '200 Individual Medley' ||
                                    element.eventFocus == '400 Individual Medley'">
                                    <mat-label>Breast split (seconds)</mat-label>
                                    <input [(ngModel)]="element.breastSplitSeconds" matInput type="number"
                                        (keyup)="convertIMTimeElement(element)" required min="0" max="60"
                                        [formControl]="breastSecondControl">
                                    <mat-error>Values 0-60 are valid.</mat-error>
                                </mat-form-field>

                                <h4 *ngIf="element.eventFocus == '100 Individual Medley' ||
                                    element.eventFocus == '200 Individual Medley' ||
                                    element.eventFocus == '400 Individual Medley'">Free Split</h4>

                                <mat-form-field *ngIf="element.eventFocus == '100 Individual Medley' ||
                                    element.eventFocus == '200 Individual Medley' ||
                                    element.eventFocus == '400 Individual Medley'">
                                    <mat-label>Free split (minutes)</mat-label>
                                    <input [(ngModel)]="element.freeSplitMinutes" matInput type="number"
                                        (keyup)="convertIMTimeElement(element)" required min="0" max="60"
                                        [formControl]="freeMinuteControl">
                                    <mat-error>Values 0-60 are valid.</mat-error>
                                </mat-form-field>

                                <mat-form-field *ngIf="element.eventFocus == '100 Individual Medley' ||
                                    element.eventFocus == '200 Individual Medley' ||
                                    element.eventFocus == '400 Individual Medley'">
                                    <mat-label>Free split (seconds)</mat-label>
                                    <input [(ngModel)]="element.freeSplitSeconds" matInput type="number"
                                        (keyup)="convertIMTimeElement(element)" required min="0" max="60"
                                        [formControl]="freeSecondControl">
                                    <mat-error>Values 0-60 are valid.</mat-error>
                                </mat-form-field>

                                <h4 *ngIf="element.eventFocus == '100 Individual Medley' ||
                                    element.eventFocus == '200 Individual Medley' ||
                                    element.eventFocus == '400 Individual Medley'">Best IM time: {{element.bestIMTim}}
                                </h4>


                                <h4 *ngIf="element.eventFocus != '100 Individual Medley' &&
                                    element.eventFocus != '200 Individual Medley' &&
                                    element.eventFocus != '400 Individual Medley'">Best time</h4>

                                <mat-form-field *ngIf="element.eventFocus != '100 Individual Medley' &&
                                    element.eventFocus != '200 Individual Medley' &&
                                    element.eventFocus != '400 Individual Medley'">
                                    <mat-label>Minutes</mat-label>
                                    <input [(ngModel)]="element.minutesBest" matInput type="number" name="input" min="0"
                                        max="60" [formControl]="minuteControl" required>
                                    <mat-error>Values 0-60 are valid.</mat-error>
                                </mat-form-field>

                                <mat-form-field *ngIf="element.eventFocus != '100 Individual Medley' &&
                                    element.eventFocus != '200 Individual Medley' &&
                                    element.eventFocus != '400 Individual Medley'">
                                    <mat-label>Seconds</mat-label>
                                    <input [(ngModel)]="element.secondsBest" matInput type="number" name="input" min="0"
                                        max="60" [formControl]="secondControl" required>
                                    <mat-error>Values 0-60 are valid.</mat-error>
                                </mat-form-field>

                                <h4>Enter split distance</h4>

                                <mat-form-field>
                                    <mat-label>Distance</mat-label>
                                    <input [(ngModel)]="element.distance" matInput type="number" name="input" min="0"
                                        max="60" [formControl]="distanceControl" required>
                                    <mat-error>This field is required.</mat-error>
                                </mat-form-field>

                                <h4>Practice pool configuration</h4>
                                <mat-form-field>
                                    <mat-label>SCY/SCM/LCM</mat-label>
                                    <select [(ngModel)]="element.splitDistanceType" matNativeControl required>
                                        <option value="SCY">Short Course Yards</option>
                                        <option value="SCM">Short Course Meters</option>
                                        <option value="LCM">Long Course Meters</option>
                                    </select>
                                </mat-form-field>


                                <h4>Hold within # seconds of personal record pace per
                                    <strong>{{element.distance}}</strong>
                                </h4>

                                <mat-form-field>
                                    <mat-label>e.g. within 2 seconds</mat-label>
                                    <input [(ngModel)]="element.holdWithinPR" type="number" matInput required>
                                </mat-form-field>

                                <h4>Number of {{element.distance}}s</h4>
                                <mat-form-field>
                                    <mat-label>Reps</mat-label>
                                    <input matInput [(ngModel)]="element.reps" type="number" [formControl]="repsControl"
                                        required>
                                    <mat-error>This field is required.</mat-error>
                                </mat-form-field>

                                <h4>Amount of rest between each {{element.distance}}</h4>
                                <mat-form-field>
                                    <mat-label>Seconds</mat-label>
                                    <input [(ngModel)]="element.rest" matInput type="number">
                                </mat-form-field>

                                <h4>Or Target Interval</h4>
                                <mat-form-field>
                                    <mat-label>Minutes</mat-label>
                                    <input [(ngModel)]="element.targetMinutesInterval" matInput type="number">
                                </mat-form-field>

                                <mat-form-field>
                                    <mat-label>Seconds</mat-label>
                                    <input [(ngModel)]="element.targetSecondsInterval" matInput type="number">
                                </mat-form-field>

                                <h4>Target Pace: <strong>{{element.target}}</strong></h4>

                                <h4>Edit Workout</h4>
                                <button mat-raised-button color="primary" (click)="editWorkout(element, element.id)">
                                    <mat-icon>edit</mat-icon>
                                </button>

                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element"
                    (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>


            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    Programmed and designed by Harry Carpenter - hhcarpenter12@gmail.com
                </p>
                <p>
                    &nbsp;
                </p>
            </div>
        </div>
    </footer>
</div>