<mat-dialog-content>

    <div align='center'>

        <h1>Current Set: {{currentSet}} </h1>
        <h1>Interval Time Left: {{countdownString}}</h1>
        <h1>Interval Elapsed Time: {{timeElapsedString}}</h1>
        <h1>Next Set: {{nextSet}}</h1>
        <h1>Percentage Complete: {{percentageComplete}}</h1>

        <div class="row" style="margin: auto; padding-bottom: 20px;">
            <button mat-raised-button color="primary" (click)="pauseWorkout()">
                <mat-icon *ngIf="workoutPausedSW">play_circle_outline</mat-icon>
                <mat-icon *ngIf="! workoutPausedSW">pause_circle_outline</mat-icon>
            </button>
        </div>

        <div class="row">
            <button mat-raised-button color="warn" (click)="endWorkout()">End Workout</button>
        </div>
    </div>

</mat-dialog-content>