<mat-dialog-content>
  <div class="row">
        <h4>Swimmer name</h4>
    </div>

    <div class="row">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input [(ngModel)]="swimmerName" matInput type="text">
        </mat-form-field>
    </div>
    
  <div class="row">
            <h4>Event focus</h4>
            <mat-form-field>
                <mat-label>Event</mat-label>
                <select [(ngModel)]="eventFocus" (change)="checkIM()" matNativeControl required>
                    <option value="50 Freestyle">50 Freestyle</option>
                    <option value="50 Backstroke">50 Backstroke</option>
                    <option value="50 Breastroke">50 Breastroke</option>
                    <option value="50 Butterfly">50 Butterfly</option>
                    <option value="100 Freestyle">100 Freestyle</option>
                    <option value="100 Backstroke">100 Backstroke</option>
                    <option value="100 Breastroke">100 Breastroke</option>
                    <option value="100 Butterfly">100 Butterfly</option>
                    <option value="100 Individual Medley">100 Individual Medley</option>
                    <option value="200 Freestyle">200 Freestyle</option>
                    <option value="200 Butterfly">200 Butterfly</option>
                    <option value="200 Backstroke">200 Backstroke</option>
                    <option value="200 Breastroke">200 Breastroke</option>
                    <option value="200 Individual Medley">200 Individual Medley</option>
                    <option value="400 Individual Medley">400 Individual Medley</option>
                    <option value="400 Freestyle">400 Freestyle</option>
                    <option value="500 Freestyle">500 Freestyle</option>
                    <option value="800 Freestyle">800 Freestyle</option>
                    <option value="1000 Freestyle">1000 Freestyle</option>
                    <option value="1500 Freestyle">1500 Freestyle</option>
                    <option value="1650 Freestyle">1650 Freestyle</option>
                </select>
            </mat-form-field>
        </div>

        <div class="row">
            <h4>Meet pool configuration</h4>
            <mat-form-field>
                <mat-label>SCY/SCM/LCM</mat-label>
                <select [(ngModel)]="eventDistanceType" matNativeControl required>
                    <option value="SCY">Short Course Yards</option>
                    <option value="SCM">Short Course Meters</option>
                    <option value="LCM">Long Course Meters</option>
                </select>
                <mat-error>Values 0-60 are valid.</mat-error>
            </mat-form-field>
        </div>

        <div *ngIf="isIM">
            <h4>Enter IM splits:</h4>
        </div> 

        <div *ngIf="isIM">
            <div class="row">
                <mat-form-field>
                    <mat-label>Fly split (minutes)</mat-label>
                    <input [(ngModel)]="flySplitMinutes" (keyup)="convertIMTime(this.flySplitMinutes,
                    this.flySplitSeconds,
                    this.backSplitMinutes,
                    this.backSplitSeconds,
                    this.breastSplitMinutes,
                    this.breastSplitSeconds,
                    this.freeSplitMinutes,
                    this.freeSplitSeconds)" min="0" max="60" [formControl]="flyMinuteControl" matInput type="number" required>
                    <mat-error>Values 0-60 are valid.</mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field>
                    <mat-label>Fly split (seconds)</mat-label>
                    <input [(ngModel)]="flySplitSeconds" matInput type="number" (keyup)="convertIMTime(this.flySplitMinutes,
                    this.flySplitSeconds,
                    this.backSplitMinutes,
                    this.backSplitSeconds,
                    this.breastSplitMinutes,
                    this.breastSplitSeconds,
                    this.freeSplitMinutes,
                    this.freeSplitSeconds)" min="0" max="60" [formControl]="flySecondControl" required>
                    <mat-error>Values 0-60 are valid.</mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field>
                    <mat-label>Back split (minutes)</mat-label>
                    <input [(ngModel)]="backSplitMinutes" matInput type="number" (keyup)="convertIMTime(this.flySplitMinutes,
                    this.flySplitSeconds,
                    this.backSplitMinutes,
                    this.backSplitSeconds,
                    this.breastSplitMinutes,
                    this.breastSplitSeconds,
                    this.freeSplitMinutes,
                    this.freeSplitSeconds)" min="0" max="60" [formControl]="backMinuteControl" required>
                    <mat-error>Values 0-60 are valid.</mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field>
                    <mat-label>Back split (seconds)</mat-label>
                    <input [(ngModel)]="backSplitSeconds" matInput type="number" (keyup)="convertIMTime(this.flySplitMinutes,
                    this.flySplitSeconds,
                    this.backSplitMinutes,
                    this.backSplitSeconds,
                    this.breastSplitMinutes,
                    this.breastSplitSeconds,
                    this.freeSplitMinutes,
                    this.freeSplitSeconds)" min="0" max="60" [formControl]="backSecondControl" required>
                    <mat-error>Values 0-60 are valid.</mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field>
                    <mat-label>Breast split (minutes)</mat-label>
                    <input [(ngModel)]="breastSplitMinutes" matInput type="number" (keyup)="convertIMTime(this.flySplitMinutes,
                    this.flySplitSeconds,
                    this.backSplitMinutes,
                    this.backSplitSeconds,
                    this.breastSplitMinutes,
                    this.breastSplitSeconds,
                    this.freeSplitMinutes,
                    this.freeSplitSeconds)" min="0" max="60" [formControl]="breastMinuteControl" required>
                    <mat-error>Values 0-60 are valid.</mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field>
                    <mat-label>Breast split (seconds)</mat-label>
                    <input [(ngModel)]="breastSplitSeconds" matInput type="number" (keyup)="convertIMTime(this.flySplitMinutes,
                    this.flySplitSeconds,
                    this.backSplitMinutes,
                    this.backSplitSeconds,
                    this.breastSplitMinutes,
                    this.breastSplitSeconds,
                    this.freeSplitMinutes,
                    this.freeSplitSeconds)" min="0" max="60" [formControl]="breastSecondControl" required>
                    <mat-error>Values 0-60 are valid.</mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field>
                    <mat-label>Free split (minutes)</mat-label>
                    <input [(ngModel)]="freeSplitMinutes" matInput type="number" (keyup)="convertIMTime(this.flySplitMinutes,
                    this.flySplitSeconds,
                    this.backSplitMinutes,
                    this.backSplitSeconds,
                    this.breastSplitMinutes,
                    this.breastSplitSeconds,
                    this.freeSplitMinutes,
                    this.freeSplitSeconds)" min="0" max="60" [formControl]="freeMinuteControl" required>
                    <mat-error>Values 0-60 are valid.</mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field>
                    <mat-label>Free split (seconds)</mat-label>
                    <input [(ngModel)]="freeSplitSeconds" matInput type="number" (keyup)="convertIMTime(this.flySplitMinutes,
                    this.flySplitSeconds,
                    this.backSplitMinutes,
                    this.backSplitSeconds,
                    this.breastSplitMinutes,
                    this.breastSplitSeconds,
                    this.freeSplitMinutes,
                    this.freeSplitSeconds)" min="0" max="60" [formControl]="freeSecondControl" required>
                    <mat-error>Values 0-60 are valid.</mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <h4>Best IM time: {{bestIMTim}}</h4>
            </div>
        </div>


        <div class="row" *ngIf="! isIM">
            <h4>Best time</h4>
        </div>

        <div class="row" *ngIf="! isIM">
            <mat-form-field>
                <mat-label>Minutes</mat-label>
                <input [(ngModel)]="minutesBest" matInput type="number" min="0" max="60" [formControl]="minuteControl" required>
                <mat-error>Values 0-60 are valid.</mat-error>
            </mat-form-field>
        </div>

        <div class="row" *ngIf="! isIM">
            <mat-form-field>
                <mat-label>Seconds</mat-label>
                <input [(ngModel)]="secondsBest" matInput type="number" min="0" max="60" [formControl]="secondControl" required>
                <mat-error>Values 0-60 are valid.</mat-error>
            </mat-form-field>
        </div>

        <div class="row">
            <h4>Enter split distance</h4>
        </div>

        <div class="row">
            <mat-form-field>
                <mat-label>Distance</mat-label>
                <input [(ngModel)]="distance" matInput type="number" min="0" [formControl]="distanceControl" required>
                <mat-error>This field is required.</mat-error>
            </mat-form-field>
        </div>

        <div class="row" *ngIf="distance != undefined">
            <h4>Practice pool configuration</h4>
            <mat-form-field>
                <mat-label>SCY/SCM/LCM</mat-label>
                <select [(ngModel)]="splitDistanceType" matNativeControl required>
                    <option value="SCY">Short Course Yards</option>
                    <option value="SCM">Short Course Meters</option>
                    <option value="LCM">Long Course Meters</option>
                </select>
            </mat-form-field>
        </div>

        <div class="row" *ngIf="distance != undefined">
            <h4>Hold within # seconds of personal record pace per <strong>{{distance}}</strong></h4>
        </div>

        <div class="row" *ngIf="distance != undefined">
            <mat-form-field>
                <mat-label>e.g. within 2 seconds</mat-label>
                <input [(ngModel)]="holdWithinPR" matInput type="number" required>
                <mat-error>This field is required.</mat-error>
            </mat-form-field>
        </div>

        <div class="row" *ngIf="distance != undefined">
            <h4>Number of {{distance}}s</h4>
            <mat-form-field>
                <mat-label>Reps</mat-label>
                <input matInput [(ngModel)]="reps" type="number" [formControl]="repsControl" required>
                <mat-error>This field is required.</mat-error>
            </mat-form-field>
        </div>

        <div class="row" *ngIf="distance != undefined">
            <h4>Amount of rest between each {{distance}}</h4>
            <mat-form-field>
                <mat-label>Seconds</mat-label>
                <input [(ngModel)]="rest" matInput type="number">
            </mat-form-field>
        </div>

        <div class="row"  *ngIf="distance != undefined">
            <h4>Or Target Interval</h4>
            <mat-form-field>
                <mat-label>Minutes</mat-label>
                <input [(ngModel)]="targetMinutesInterval" matInput type="number">
            </mat-form-field>
        </div>

        <div class="row" *ngIf="distance != undefined"> 
            <mat-form-field>
                <mat-label>Seconds</mat-label>
                <input [(ngModel)]="targetSecondsInterval" matInput type="number">
            </mat-form-field>
        </div>

        <div class="example-button-row">
            <button mat-flat-button color="primary" type="submit" [disabled]="(! isIM && (minuteControl.invalid || secondControl.invalid)) ||
             (isIM && (flyMinuteControl.invalid || flySecondControl.invalid || backMinuteControl.invalid || backSecondControl.invalid || breastMinuteControl.invalid || breastSecondControl.invalid || freeMinuteControl.invalid || freeSecondControl.invalid )) ||
             distanceControl.invalid || repsControl.invalid" (click)="generateWorkout()">Create Workout</button>
        </div>

    </mat-dialog-content>  
