<div align='center'>

  <div class="containerPhoto"></div>

  <article>
    <header>
      <h2>Swimming Workout Tools</h2>
    </header>
  </article>

  <!-- <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Performance Analyzer</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
  
        <button mat-button (click)="toggleSplitTracker()">Details</button>
  
        <p *ngIf="showSplitTracker">
          You can enter the event, the split distance, and the time for each split. Then, the app will analyze
          that performance by looking for the fastest, slowest, and average split times. The app will also display
          a graph showing the pace throughout the race. You can also compare the charts against other swimmers or other
          performances. If there are multiple swimmers in the same heat, you can keep track of them at once.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="navigateToSplitTracker()" routerLinkActive="active">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-card-actions>
  
    </mat-card> -->

    
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Workout Time Tracker</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <button mat-button (click)="toggleTimeTracker()">Details</button>

      <p *ngIf="showTimeTracker">
        You can enter a swim workout that includes sets containing the distance, number of reps, description
        (free, kick, drill, ect) and time interval. The number of yardage and completion time will also be displayed.
        After creating the workout, you can download the workouts as a CSV, then import them later on to view or edit
        the workouts. There is also a countdown timer feature showing how much time there is before the next repetition or set, the current
        set, the upcomping set, and the percentage of the workout complete. Select the workout you created and then select 'Begin Workout'. 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="navigateToTimeTracker()" routerLinkActive="active">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </mat-card-actions>

  </mat-card>


  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Race Pace Tracker</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <button mat-button (click)="toggleRPT()">Details</button>

      <p *ngIf="showRPT">
        Based on your best time for your selected event, the app determines the target split for an entered distance.
        Then, the app converts that target split based on the pool configuration (short course yards, short course
        meters, long course meters) in case the practice and competition pools have different configurations. The app
        also considers target splits
        for individual medley (butterfly, backstroke, breaststroke, freestyle) events. Then, you can enter the number of
        repetitions, the amount of rest between each repetition, and the pace to hold
        within each repetition. You can also import/export CSV files, so you can update personal bests and other
        information about the workout.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="navigateToRPT()" routerLinkActive="active">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </mat-card-actions>

  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Jon Urbanchek Aerobic Training</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-button (click)="toggleJU()">Details</button>

      <p *ngIf="showJU">
        Based on your trial time for your selected distance, the app determines pacing for five levels of effort in
        practice: white (easy), pink (moderate), red (endurance), blue (threshold), purple (race pace).
        You can also import/export CSV files, so you can update time trial information and receive adjusted pacing.
        These workouts are inspired by Jon Urbanchek, Head Coach of the University of Michigan
        Swimming and Diving Team from 1982 to 2004.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="navigateToJU()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          Programmed and designed by Harry Carpenter - hhcarpenter12@gmail.com
        </p>
        <p>
          &nbsp;
        </p>
      </div>
    </div>
  </footer>

</div>

<router-outlet></router-outlet>